body[b-ughcgxih1q] {
    margin: 0;
    padding: 0;
}

.navbar[b-ughcgxih1q] {
    background-color: #343a40; /* Dark background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white; /* Text color */
    width: 100%; /* Set width to 100% */
    min-width: 100%; /* Ensure a minimum width of 100% */
    height: 100px;
}

.navbar-brand[b-ughcgxih1q] {
    font-size: 1.5em;
}

.navbar-links[b-ughcgxih1q] {
    display: flex;
}

.navbar-links a[b-ughcgxih1q] {
    color: white; /* Text color for links */
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

.navbar-links a:hover[b-ughcgxih1q] {
    text-decoration: underline;
}

.navbar-links button[b-ughcgxih1q] {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    margin: 0 5px;
    transition: border-radius 0.3s;
}

.navbar-links button:hover[b-ughcgxih1q] {
    border-radius: 50%;
}
